.header__container {
    display: flex;
    box-sizing: content-box;
    margin-bottom: 46px;
    align-items: center;
}

@media screen and (max-width: 620px) {
    .header__container {
        display: none;
    }
}
