.edit-button {
    background-color: rgba(0,0,0,0);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    display: flex;
    width: 24px;
    height: 24px;
    align-self: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    cursor: pointer;
}
  
.edit-button:focus {
    opacity: .6;
  }

@media screen and (max-width: 970px) {
    .edit-button {
        width: 18px;
        height: 18px;
    }

}