.header {
    width: 880px;
    margin: 45px auto 40px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    display: flex;
    flex-direction: row;
    
}

@media screen and (max-width: 970px) {
    .header {
        width: 600px;
        margin: 28px auto 36px;
}
}

@media screen and (max-width: 620px) {
    .header {
        width: 320px;
}
}